<h1>All Parties</h1>
	<div class="links">
		<a href="/parties/new">Add Party</a>
	</div>

<table class="table">
	<% @party.each do |party| %>
	<tr>
		<td><a href="/parties/<%= party.id %>">Select</a></td>
		<td>Name: <%= party.name %></td>
		<td>Table Number: <%= party.table_num %></td>
		<td>Party Size: <%= party.party_size %></td>
		<td>Paid: <%= party.paid %></td>
	</tr>
	<% end %>
</table>


