<h1>All Parties</h1>
	<div class="links">
		<a href="/">Home |</a>
		<a href="/parties/new">Add Party</a>
	</div>

	<div class="menu">
		Click Party Open:

		<% @party.each do |party| %>
			<li>
				<a href="/parties/<%= party.id %>">
	 			Name: <%= party.name %> ||
				Table Number: <%= party.table_num %> ||
				Party Size: <%= party.party_size %> ||
				Paid: <%= party.paid %></a>
			</li>
		<% end %>
	</div>


