<h1>Party Info</h1>

	<table class="table">
		<tr>
			<td>
				<form action="/parties/<%= @party.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Delete Party">
				</form>
			</td>
			<td>Name: <%= @party.name %></td>
			<td>Table Number: <%= @party.table_num %></td>
			<td>Party Size: <%= @party.party_size %></td>
			<td>Paid: <%= @party.paid %></td>
		</tr>
	</table>

<h2>Add to Order</h2>
	<table class="table">
		<tr>
		<% @foods.each do |food| %>	
			<td>
				<form action="/orders" method="post">
					<input type="hidden" name="order[party_id]" value="<%= @party.id %>">
					<input type="hidden" name="order[food_id]" value="<%= food.id %>">
					<input type="submit" value="<%= food.food_name %>">
				</form>			
			</td>
		<% end %>	
		</tr>
	</table>


<div>
	Click Item to Delete
	<h2>Party's Order</h2>
		<% @party.orders.each do |order| %>
			<li>
				<a href="/orders/<%= order.id %>">
					<%= order.food.food_name %></a>
			</li>
		<% end %>
</div>

<a href="/parties/<%= @party.id %>/receipt">Check the Receipt</a>
	





